@import url('https://fonts.googleapis.com/css?family=Mina:100,200,300,400,500,600,700|Roboto:100,200,300,400,500,600,700');





/*--------------------------------------default styling*/

body {
    background-color: #515151;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    color: #fafafa;
}

.uppercase {
    text-transform: uppercase;
}

.bg-image {

    background: url("../images/background-image.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.top-spacing {
    padding-top: 60px;
}

/*---------------------------------------------header*/

.logo {
    font-family: Mina, sans-serif;
    font-size: 24px;
    font-weight: 600;
}

.menu-item {
    font-family: Mina, sans-serif;
    font-weight: 300;
}

/*---------------------------------------------header-navbar*/

.navbar {
    margin-bottom: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border: 0;
    background-color: #919191;
    z-index: 1;
    border-radius: 0;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fafafa;
    width: 30px;
}

.navbar-default .navbar-collapse {
    border: 0;
    width: 100%;
}

.navbar-default .navbar-brand {
    color: #fafafa;
}

.navbar-default .navbar-nav>li>a {
    color: #fafafa;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-nav>li>a:hover {
    color: #ff4444;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}





/*----------------------------------------social links*/

.social-links {
    margin-top: -50px;
    margin-right: 20px;
    margin-bottom: 0;
    padding: 5px;
}

.social-links li a i {
    width: 40px;
    height: 40px;
    padding: 16px 0;
    border-radius: 50%;
    font-size: 24px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #515151;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background-color: #ff4444;
}


/*----------------------------------------index/ landing page*/

.landing-title {
    font-family: Mina, sans-serif;
    font-weight: 700;
    font-size: 48px;
}

.bg-image-landing {
    height: 100vh;
}


/*--------------------------------------------about*/

.about-text {
    padding-top: 10px;
    background-color: #515151;
}

/*--------------------------------------------about-panel*/

.panel-default {
    background-color: #919191;
    color: #fafafa;
}

.panel-title {
    font-family: Mina, sans-serif;
    font-weight: 600;
    font-size: 20px;
}

/*--------------------------------------------discography*/



/*----------------------------------------media query*/

@media(min-width:768px) {
    .landing-title {
        font-size: 8em;
    }

    .about-text {
        padding-top: 0;
        float: right;
        background-color: #515151;
    }

    .about-image {
        /* referencing code from https://www.w3schools.com/css/css_positioning.asp*/
        position: fixed;
        top: 60px;
        max-height: 80%;
    }
}

@media(min-width:992px) {
    .about-text {
        font-size: 24px;
        margin-bottom: 100px;
    }
}